*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  width: 75%;
  margin: 0 auto;
}

header,
nav,
section,
buttonSection {
  border: 1px solid rgba(255,255,255,0.8);
  margin-bottom: 10px;
  border-radius: 3px;
}

nav, section, phillipSection, buttonSection {
  float: left;
}
section, phillipSection, buttonSection {
  width: 85%;
}

section, phillipSection {
  padding-top: 17px;
}

body {
  background: #010108;
  color: #FFF;
  font-family: Helvetica;
  text-align: center;
  margin: 0;
}

phillipSection {
  border: 1px solid rgba(255,255,255,0.8);
  margin-bottom: 1px;
  border-radius: 3px; 
}

nav {
  text-align: center;
  padding-bottom: 30%;
  padding-top: 7.5%;
  width: 15%;
}

a {
  color: #f6b3e5;
}

buttonSection{
  padding: 2.5%;
}

header {
	width: 100%;
  padding: 2.5% 0; 
}