.wrapper {
  width: 75%;
  margin: 0 auto;
}

header {
	width: 100%;
}

nav, section, phillipSection {
  float: left;
}

nav {
  width: 15%;
}

section, phillipSection {
  width: 85%;
}


*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #010108;
  color: #FFF;
  font-family: Helvetica;
  text-align: center;
  margin: 0;
}

header,
nav,
section {
  border: 1px solid rgba(255,255,255,0.8);
  margin-bottom: 10px;
  border-radius: 3px;
}

phillipSection {
  border: 1px solid rgba(255,255,255,0.8);
  margin-bottom: 10px;
  border-radius: 3px; 
}

header {
  padding: 2.5% 0;
}

nav, section, phillipSection {
  padding: 22% 0;
}
nav {
  text-align: center;
}

